<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="~/Views/Includes/_Header.cshtml" />
    <title>Communities</title>
</head>
<body>
    <partial name="~/Views/Includes/_Navbar.cshtml" />
    <partial name="~/Views/Includes/_LoginModal.cshtml" />

    <div class="container mt-3">
        <h1>Communities</h1>
    </div>

    <div class="container mt-3">
        <a class="btn btn-primary" href="/communities/create">Create community</a>
    </div>


    <partial name="~/Views/Includes/_Footer.cshtml" />
    <script src="~/js/dist/communities-page.bundle.js"></script>

</body>
</html>
