@model Deadit.Lib.Domain.ViewModel.CommunitiesPageViewModel
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@using Deadit.Lib.Domain.ViewModel
@using Deadit.WebGui.ViewComponents
@using Microsoft.AspNetCore.Http.Extensions;


<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="~/Views/Includes/_Header.cshtml" />
    <title>Created Communities</title>
</head>
<body>
    <partial name="~/Views/Includes/_Navbar.cshtml" />
    <partial name="~/Views/Includes/_LoginModal.cshtml" />


    <div class="container">

        <h1 class="mt-5">Created Communities</h1>

        <ul class="list-group">

            @foreach(var c in Model.Communities)
            {
                @await Component.InvokeAsync(nameof(CommunityListItemComponent), new CommunityListItemViewModel()
                {
                    Community = c,
                });
            }
        </ul>

    </div>


    <partial name="~/Views/Includes/_Footer.cshtml" />
    @* <script src="~/js/dist/community-page.bundle.js"></script> *@
</body>

</html>