<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="~/Views/Includes/_Header.cshtml" />
    <title>Create a community</title>
</head>
<body>
    <partial name="~/Views/Includes/_Navbar.cshtml" />
    <partial name="~/Views/Includes/_LoginModal.cshtml" />

    <div class="container mt-3">
        <h1>Log in</h1>
    </div>


    <partial name="~/Views/Includes/_Footer.cshtml" />
    <script src="~/js/dist/login.bundle.js"></script>

</body>
</html>
