@model Deadit.Lib.Domain.ViewModel.HomePageViewModel
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@using Deadit.Lib.Domain.Constants
@using Deadit.Lib.Domain.Enum
@using Deadit.Lib.Domain.ViewModel
@using Deadit.Lib.Utility
@using Deadit.WebGui.ViewComponents
@using Microsoft.AspNetCore.Http.Extensions;

<div>

    <ul class="list-group">

        @foreach (var post in Model.Posts)
        {
            @await Component.InvokeAsync(nameof(PostListItemComponent), new PostListItemViewModel()
            {
                IsLoggedIn = Model.IsLoggedIn,
                Post = post,
            });
        }
    </ul>

</div>