@* Log in / sign up modal *@
<div class="modal" id="login-container" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="login-form-signup-container">


                    @* Sign up *@
                    <form class="login-form-signup">

                        <div class="login-form-input-section">
                            <label for="login-form-signup-input-email" class="form-label">Email address</label>
                            <input type="email" class="form-control" id="login-form-signup-input-email">
                        </div>

                        <div class="login-form-input-section">
                            <label for="login-form-signup-input-username" class="form-label">Username</label>
                            <input type="email" class="form-control" id="login-form-signup-input-username">
                        </div>

                        <div class="login-form-input-section">
                            <label for="login-form-signup-input-password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="login-form-signup-input-password">
                        </div>

                        <button type="button" class="btn btn-success">Success</button>

                    </form>


                </div>





            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>