@using Microsoft.AspNetCore.Http
@using Deadit.Lib.Domain.Constants
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@inject Deadit.Lib.Service.Contracts.IAuthService AuthService

<nav class="navbar navbar-expand-lg bg-body-tertiary" id="navbar-main">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-main-body">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-main-body">
            <a class="navbar-brand" href="/">Deadit</a>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <button class="nav-link disabled">Test</button>
                </li>
            </ul>

            <div class="navbar-nav">

                @{
                    var loggedIn = AuthService.IsClientLoggedIn();

                    if (loggedIn)
                    {
                        <a class="nav-link" href="/logout">Log out</a>
                    }
                    else
                    {
                        <button class="nav-link" data-bs-toggle="modal" data-bs-target="#login-container">Log in</button>
                    }
                }

                @* <button class="nav-link" data-bs-toggle="modal" data-bs-target="#login-container">Log in</button> *@
            </div>
        </div>
    </div>
</nav>