@using Deadit.Lib.Domain.Constants
@using Deadit.Lib.Domain.Enum
@using Deadit.Lib.Domain.ViewModel
@using Deadit.Lib.Utility
@model CommunitySettingsLayoutModel<MembersCommunitySettingsPageModel>

@{
    Layout = $"~/{GuiPageViewFiles.CommunitySettingsLayout}";
}


@section Body {

    <div class="container">
        <h1>Members Settings</h1>
    </div>

    @* Members List *@
    <div class="mt-5">
        <partial name="~/Views/Pages/Community/Settings/Members/_MembersList.cshtml" />
    </div>


    <div class="container mt-5">
        <partial name="~/Views/Pages/Community/Settings/Members/_Pagination.cshtml" />
    </div>

}



@section Footer {
    <script src="~/js/dist/community-settings-members.bundle.js"></script>
}