@using Deadit.Lib.Domain.Constants
@using Deadit.Lib.Domain.ViewModel
@model CommunitySettingsLayoutModel<ContentCommunitySettingsPageModel>

@{
    Layout = $"~/{GuiPageViewFiles.CommunitySettingsLayout}";
}


@section Body {

    <div class="container">
        <h1>Content Settings</h1>
    </div>

}

@section Footer {
    <script src="~/js/dist/community-settings-content.bundle.js"></script>
}