@using Deadit.Lib.Domain.Constants
@using Deadit.Lib.Domain.ViewModel
@model CommunitySettingsLayoutModel<FlairCommunitySettingsPageModel>

@{
    Layout = $"~/{GuiPageViewFiles.CommunitySettingsLayout}";
}


@section Body {

    <div class="container standard-spacing page-header">
        <h1>Post Flair</h1>
        <hr />
    </div>


    <div class="container spinner-spinner standard-spacing">
        <partial name="~/Views/Includes/_SpinnerCenter.cshtml" />
    </div>


    <div class="container page-content d-none">
        <div class="flair-list-alerts"></div>
        <ul class="list-group flair-post-list"></ul>
    </div>

    <partial name="~/Views/Pages/Community/Settings/Flairs/_FlairFormModal.cshtml" />
}

@section Footer {
    <script src="~/js/dist/community-settings-flairs.bundle.js"></script>
}

