@model Deadit.Lib.Domain.ViewModel.CommunityPageViewModel
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor


@{
    var requestPath = HttpContextAccessor?.HttpContext?.Request.Path.ToString();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="~/Views/Includes/_Header.cshtml" />
    <title>c/@Model.Community.CommunityName</title>
</head>
<body>
    <partial name="~/Views/Includes/_Navbar.cshtml" />
    <partial name="~/Views/Includes/_LoginModal.cshtml" />

    <div class="container mt-3">
        <h1>@Model.Community.CommunityName</h1>
        <hr />
    </div>

    <div class="container">

        <div class="row">
            <div class="col-md-9">
                <h6>Posts</h6>
            </div>

            <div class="col-md-3">
                <div class="card card-body">
                    @* Description *@
                    <h6>About community</h6>
                    <p>@Model.Community.CommunityDescription</p>
                    
                    @* Community stats *@
                    <hr />
                    <p class="mb-0">@Model.Community.CommunityCountMembers members</p>

                    @* Action buttons *@
                    <hr />
                    
                    
                    @{
                        string toggleMembershipButtonText = Model.IsMember ? "Leave" : "Join";
                        string membershipStatus = Model.IsMember ? "data-js-is-member" : string.Empty;
                    }

                    <button type="button" class="btn btn-sm btn-secondary mb-1 btn-toggle-membership" @membershipStatus>@toggleMembershipButtonText</button>
                    <a href="@requestPath/submit" class="btn btn-sm btn-secondary mb-1">Create Post</a>
                </div>
            </div>
        </div>

    </div>

    <partial name="~/Views/Includes/_Footer.cshtml" />
    <script src="~/js/dist/community-page.bundle.js"></script>
</body>
</html>
