
#login-container {
    .login-form-input-section {
        margin-bottom: 20px;
    }
}

.form-label-container {
    width: 100%;
}

.standard-spacing {
    margin-bottom: 50px;
}

.page-header {
    margin-top: 50px;
}

