@model Deadit.Lib.Domain.ViewModel.CommunityPageViewModel
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@using Microsoft.AspNetCore.Http.Extensions;
@using Deadit.Lib.Domain.Enum;




@if(Model.PostSort.SortByNew)
{
    <ul class="nav nav-pills mb-3">
        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/@Model.Community.CommunityUrlGui">New</a></li>
        <li class="nav-item"><a class="nav-link" href="/@Model.Community.CommunityUrlTop">Top</a></li>
    </ul>
}

else
{

    <div class="d-flex justify-content-between align-items-baseline community-page-top-sort-options">
        <ul class="nav nav-pills mb-3">
            <li class="nav-item"><a class="nav-link" href="/@Model.Community.CommunityUrlGui">New</a></li>
            <li class="nav-item"><a class="nav-link active" aria-current="page" href="/@Model.Community.CommunityUrlTop">Top</a></li>
        </ul>

        <div class="top-post-sort d-flex justify-content-start align-items-center">

            <p class="m-0 p-0 me-2">Sort by:</p>

            <select class="form-select w-auto top-post-sort-options">
                @Html.Raw(Model.PostSort.TopSort.GetSortOptionHtml())
            </select>
        </div>
    </div>


}


