@model Deadit.Lib.Domain.ViewModel.CommunityPageViewModel
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@using Microsoft.AspNetCore.Http.Extensions;


@{
    var currentUrl = HttpContextAccessor.HttpContext!.Request.GetEncodedUrl();
}

<div class="posts-pagination my-5">
    <nav aria-label="Page navigation example">
        
        <ul class="pagination justify-content-center">
            
            @if(Model.Pagination.IsFirstPage)
            {
                <li class="page-item disabled"><a class="page-link" href="@Model.Pagination.GetPreviousPageUrl(currentUrl)">Previous</a></li>
            }
            else
            {
                <li class="page-item"><a class="page-link" href="@Model.Pagination.GetPreviousPageUrl(currentUrl)">Previous</a></li>
            }


            @if(Model.PostDtos.Count < Model.Pagination.Limit)
            {
                <li class="page-item disabled"><a class="page-link" href="@Model.Pagination.GetNextPageUrl(currentUrl)">Next</a></li>
            }
            else
            {
                <li class="page-item"><a class="page-link" href="@Model.Pagination.GetNextPageUrl(currentUrl)">Next</a></li>
            }

        </ul>
    </nav>
</div>