<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="~/Views/Includes/_Header.cshtml" />
    <title>Bootstrap demo</title>
</head>
<body>

    <partial name="~/Views/Includes/_Navbar.cshtml" />
    <partial name="~/Views/Includes/_LoginModal.cshtml" />




    


    <partial name="~/Views/Includes/_Footer.cshtml" />

</body>
</html>
