<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="~/Views/Includes/_Header.cshtml" />
    <title>Bootstrap demo</title>
</head>
<body>
    <partial name="~/Views/Includes/_Navbar.cshtml" />
    <partial name="~/Views/Includes/_LoginModal.cshtml" />

    <div class="container mt-3"> 


    </div>


    <partial name="~/Views/Includes/_Footer.cshtml" />
    <script src="~/js/dist/home.bundle.js"></script>

</body>
</html>
